*{
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
    height: 100%;
}
body{
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    color:#000000;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;;
    font-size: 25px;
    line-height: 35px;
}
.page_header{
    width: 100%;
    background-image: linear-gradient(#EDA418 50%, #FFFFFF);
}
.navigation{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 109px;
    padding-right: 66px;
}
.logo{
    display: block;
    margin-top: 8px;
    padding-right: 50px;
}
.navigation_list{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-right: 130px;
    list-style: none;
    margin: auto 0;
}
.link_navigation{
    display: block;
    color:#000000;
    text-decoration: none;
    margin-right: 50px;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;

}
.link_navigation:hover, .main_item_link:hover, .footer_link_item:hover{
    font-weight: 700;
}
.navigation_button{
    display: block;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    border: none;
    background-color: #000000;
    background-image: url("img/Кнопка _Корзина_.png");
}
.navigation_button:active{
    background-color: #FFFFFF;
    background-image: url("img/Кнопка_Корзина_Актив.png");
}
.header_div{
    display: flex;
    margin-top: 40px;
    margin-left: 130px;
    justify-content: center;
}
.header_div_list{
    display: block;
    list-style: none;
    padding-top: 173px;
    padding-right: 130px;
}
.header_div_text{
   padding-bottom: 50px;
   font-weight: 800;
   line-height: 39px;
   font-size: 32px;
}
.header_div_text_d{
    padding-bottom: 50px;
    font-weight: 400;
    line-height: 16px;
    font-size: 19px;
}
.header_div_button{
    width: 142px;
    height: 60px;
    border-radius: 50px;
    background-color:#E52626;
    color: #FFFFFF;
    border: none;
    font-weight: 400;
    line-height: 29px;
    font-size: 24px;
}
.header_div_button:active{
    background-color:#FFFFFF;
    color: #E52626;
    font-weight: 400; 
    line-height: 29px;
    font-size: 24px;
}
.header_div_button:hover, .logo:hover, .navigation_button:hover, .footer_img_tg:hover, .footer_img_vk:hover{
    transform: scale(0.98);
    cursor: pointer;
}
.main_item:hover{
    transform: scale(0.98);
    cursor: pointer;
}
.page_main{ 
    text-align: center;
    width: 100%;   
    display: block;
}
.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #000000;
}
.main_title{
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.main_list{
    width: 1600px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 38px;
    justify-content: center;
    gap: 46px 38px;
}
.main_item_link{
    text-decoration: none;
    color:#000000;
    font-size: 35px;
    line-height: 43px;
    font-weight: 500;
}
.page_footer{
    width: 100%;
    background-image: linear-gradient(#FFFFFF 5%, #EDA418);
}
.footer_link{
    display: flex;
    flex-wrap: wrap;
    gap: 101px;
    justify-content: center;
    list-style: none;
    padding-top: 157px;
}
.footer_link_item{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
}
.footer_text{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 45px;
    list-style: none;
}
.footer_text_item{
    padding-bottom: 22px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    
}
.footer_contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 6px;
}
.footer_img_tg{
    margin-top: 17px;
}
.footer_img_vk{
    margin-top: 22px;
}